.employeeTable {
  width: 100%;
  border: 2px solid rgb(203, 203, 203);
  border-radius: 5px;
  font-size: 18px;
}

.tableHeader {
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 5px;
  position: sticky;
  top: 0;
}

.tableComplete {
  max-height: 500px;
  overflow-y: auto;
  width: 50%;
  margin-bottom: 50px;
}

.tableContainer {
  max-height: 400px; /* Set the height of the scrollable area */
  overflow-y: auto;
}

.searchBox {
  padding: 10px;
  border: 2px solid rgb(203, 203, 203);
  border-radius: 5px;
  margin-bottom: 10px
}

.addButton {
  background-color: #647bff ;
  color: #FFFFFF;
  padding: 10px;
  border: 2px solid #506aa87f;
  border-radius: 5px;
  margin-bottom: 10px;
}

.addButton:hover {
  background-color: #5467d1;
  color: #FFFFFF;
  padding: 10px;
  border: 2px solid #647bff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dashboardTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.marginHidden {
  margin: 0px;
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.page-title {
  font-size: 30px;
  margin-left: 110px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-grid {
  margin-top: 20px !important;
  margin-left: 100px !important;
  margin-right: 100px !important;
}

@media (max-width: 576px) {
  .employeeTable {
      width: 10px;
  }
  .tableComplete {
      min-width: 80vw;
  }
}
