.employeeTable {
  width: 100%;
  border: 2px solid rgb(203, 203, 203);
  border-radius: 5px;
  font-size: 18px;
  overflow-x: auto;
}

.tableComplete {
  min-width: 50%;
  width: 500px;
}

.searchBox {
  padding: 10px;
  border: 2px solid rgb(203, 203, 203);
  border-radius: 5px;
  margin-bottom: 10px
}

.addButton {
  background-color: #647bff ;
  color: #FFFFFF;
  padding: 10px;
  border: 2px solid #506aa87f;
  border-radius: 5px;
  margin-bottom: 10px;
}

.addButton:hover {
  background-color: #5467d1;
  color: #FFFFFF;
  padding: 10px;
  border: 2px solid #647bff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dashboardTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.marginHidden {
  margin: 0px;
}

@media (max-width: 576px) {
  .employeeTable {
      width: 10px;
  }
  .tableComplete {
      min-width: 80vw;
  }
}
